<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
   "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

<!-- DB Configuration -->
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3307/inventorymanagementsystem</property>
<property name="connection.username">root</property>
<property name="connection.password">root</property>


<!-- Dialect Configuration -->
<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
<property name="hbm2ddl.auto">create</property>
<property name="show_sql">true</property>
<property name="format_sql">true</property>

<!-- Mapping Configuration -->
<!--  <mapping class = "com.student.studentmanagementsystem.Student"></mapping>-->
<mapping class = "com.inventory.inventorysystemmanagement.Product"></mapping>
<mapping class = "com.inventory.inventorysystemmanagement.InventoryItem"></mapping>
<mapping class = "com.inventory.inventorysystemmanagement.Order"></mapping>
<mapping class = "com.inventory.inventorysystemmanagement.Supplier"></mapping>


</session-factory>
</hibernate-configuration>